*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* header, navbar */
.header{
    width: auto;
    height: auto;
    background: linear-gradient(to bottom, #ee739e, #632E40);
    padding: 40px 100px 80px 100px;
}

.header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.header .navbar .logo{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 22px;
}

.header .navbar .menu{
    display: flex;
    gap: 24px;
    align-items: center;
}

.header .navbar .menu a{
    text-decoration: none;
    color: #fff;
    position: relative;
}

.header .navbar .menu a:not(button a)::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease;
    transform-origin: right;
    transform: scaleX(0);
}

.header .navbar .menu a:not(button a):hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.header .navbar button{
    padding: 10px 30px;
    border-radius: 6px;
    border: 0px solid;
    font-weight: bold;
    background-color: #763249;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.header .navbar .menu button:hover {
    background-color: #632E40;
    box-shadow: 0px 0px 50px rgba(238, 115, 158, 0.5);
}

/* header, judul */
.header .judul{
    padding: 60px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.header .judul h1{
    font-size: 70px;
    color: #fff;
}

.header .judul p{
    font-size: 18px;
    color: #fff;
    text-align: justify;
}


/* tentang kami */
.tentang-kami{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    padding: 80px 80px 0px 80px;
}

.tentang-kami img{
    width: 380px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 30px;
    border: 0px solid;
    height: 380px;
}

.tentang-kami img:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 50px rgba(238, 115, 158, 0.5);
}

.tentang-kami .text{
    padding: 60px 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tentang-kami .text #p{
    font-size: 18px;
}


/* kenapa */
.kenapa{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px 80px 0px;
    gap: 20px;
}

.kenapa .box-besar{
    display: flex;
    gap: 30px;
}

.kenapa .box-besar .box{
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    border-radius: 6px;
    border: 1px solid;
    border-color: #632e4034;
    align-items: center;
    transition: background 0.3s, box-shadow 0.3s, color 0.3s, transform 0.3s, border 0.3s;
}

.kenapa .box-besar .box:hover{
    background: linear-gradient(to bottom, #ee739e, #632E40);
    box-shadow: 0px 0px 50px rgba(238, 115, 158, 0.5);
    color: #fff;
    transform: translateY(-15px);
    border: none;
}

.kenapa .box-besar .box img{
    width: 100px;
}

.kenapa .box-besar .box p{
    font-size: 18px;
}

/* quotes */
.quotes{
    margin: 80px 0px;
    padding: 40px 80px 40px 80px;
    background: linear-gradient(to bottom, #ee739e, #632E40);
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.quotes .kutip-kiri{
    display: flex;   
}

.quotes .kutip-kanan{
    display: flex;
    justify-content: end;   
}

/* tim */
.tim{
    display: flex;
    padding: 40px 80px 80px 80px;
}

.tim .images{
    display: flex;
    gap: 10px;
}

.tim .images img{
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 20px;
    border: 0px solid;
}

.tim .images img:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 50px rgba(238, 115, 158, 0.5);
}

.tim .images .box-1 img{
    width: 300px;
}

.tim .images .box-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 230px;
}

.tim .text{
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tim .text button{
    width: 120px;
    height: 38px;
    border-radius: 6px;
    border: 0px solid;
    background-color: #763249;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.tim button:hover {
    background-color: #632E40;
    box-shadow: 0px 0px 50px rgba(238, 115, 158, 0.5);
}

.tim .text button a{
    text-decoration: none;
    color: #fff;
}

/* statistik */
.statistik{
    padding: 40px 80px 40px 80px;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to bottom, #ee739e, #632E40);
}

.statistik .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #fff;
}

/* video */
.video{
    padding: 80px 80px 80px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.video p{
    font-size: 18px;
}

video{
    width: 800px;
    border-radius: 18px;
    border: 0px solid;
    transition: box-shadow 0.3s;
}

video:hover{
    box-shadow: 0px 0px 50px rgba(238, 115, 158, 0.5);
}

/* testimoni */
.testimoni{
    padding: 80px 110px 80px 110px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.testimoni .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.testimoni .container{
    display: flex;
    gap: 20px;
}

.testimoni .container .box{
    padding: 0px 30px;
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 18px;
    border: 0.1px solid #632e4034;
    transition: box-shadow 0.3s, transform 0.3s, border 0.3s;
}

.testimoni .container .box:hover{
    box-shadow: 0px 0px 50px rgba(238, 115, 158, 0.5);
    transform: translateY(-20px);
    border: none;
}

.testimoni .box img{
    width: 90px;
}

/* footer */

.footer{
    background: linear-gradient(to bottom, #ee739e, #632E40); background-color: #ee739e;
    padding: 80px 100px 80px 100px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo, .footer-layanan, .footer-kontak, .footer-tautan{
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-logo .images{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-kontak .box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img{
    width: 50px;
}

.footer-tautan{
    width: auto;
}

.footer-tautan a{
    text-decoration: none;
    color: #fff;
}